/* Small Padding */
.spacer {
  padding: 5px 5px;
}

@media (min-width: 800px) {
  .spacer {
    padding: 10px 10px;
  }
}

@media (min-width: 1280px) {
  .spacer {
    padding: 20px 20px;
  }
}

/* Medium Padding */
.spacer.medium {
  padding: 10px 10px;
}

@media (min-width: 800px) {
  .spacer.medium {
    padding: 20px 20px;
  }
}

@media (min-width: 1280px) {
  .spacer.medium {
    padding: 40px 40px;
  }
}

/* Large Padding */
.spacer.large {
  padding: 15px 15px;
}

@media (min-width: 800px) {
  .spacer.large {
    padding: 30px 30px;
  }
}

@media (min-width: 1280px) {
  .spacer.large {
    padding: 60px 60px;
  }
}

/* Extra Large Padding */
.spacer.x-large {
  padding: 20px 20px;
}

@media (min-width: 800px) {
  .spacer.x-large {
    padding: 40px 40px;
  }
}

@media (min-width: 1280px) {
  .spacer.x-large {
    padding: 80px 80px;
  }
}
